<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>New student</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
            crossorigin="anonymous"></script>

</head>
<body>

<form th:method="POST" th:action="@{/children}" th:object="${student}">

    <label for="name">Enter groupId: </label>
    <input type="number" th:field="*{group}" id="group"/>

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>

    <label for="sex">Enter sex: </label>
    <input type="text" th:field="*{sex}" id="sex"/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br/>
    <input type="submit" value="Create">
</form>
</body>
</html>