<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar::header"/>

<body>
<div class="sticky">
  <div th:replace="navbar::menu"></div>
</div>

<style>
    .sticky {
        position: sticky;
        top: 0;
        min-height: 2em;
    }
</style>

<div>&nbsp;</div>

<form class="row g-3">
  <div class="col-md-4"></div>

  <form th:action="@{/groups/search}">
    <div class="col-md-2">
      <input class="form-control" th:type="text" th:name="name" th:value="${name}" required
             placeholder="enter name..."/>
    </div>
    <div class="col-auto">
      &nbsp;
      <input class="btn btn-outline-success" type="submit" value="Search"/>
      &nbsp;
      <input class="btn btn-outline-info" type="button" value="Clear" onclick="clearFilter()"/>
    </div>
  </form>

</form>

<script type="text/javascript">
    function clearFilter() {
        window.location = '/groups/search';
    }
</script>
<div>&nbsp;</div>

<form class="row g-3">
  <div class="col-md-2"></div>
  <div class="col-md-8" th:switch="${groups}">
    <h2 th:case="null">No groups found!</h2>
    <div th:case="*">
      <h2>Groups</h2>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Show</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
          <td th:text="${group.id}"></td>
          <td th:text="${group.name}"></td>
          <td th:align="center"><a class="btn btn-outline-dark btn-"
                                   th:href="@{/groups/{id}(id=${group.getId()})}">Info</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>

</body>
</html>