<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar::header"/>

<body>
<div th:replace="navbar::menu"></div>

<div class="p-5" >
<table class="table" >
  <tr>
    <td>ID</td>
    <td th:text="${group.getId()}">value</td>
  </tr>
  <tr>
    <td>Name</td>
    <td th:text="${group.getName()}">value</td>
  </tr>
  <tr>
    <td>Faculty</td>
    <td th:text="${group.getFaculty().name}">value</td>
  </tr>
  <tr>
    <td>Course</td>
    <td th:text="${group.getCourse().name}">value</td>
  </tr>
</table>
</div>

<div class="p-1">
  <a class="btn btn-outline-dark" th:href="@{/groups/{id}/edit(id=${group.getId()})}">Edit</a>
  <a class="btn btn-outline-dark" th:href="@{/groups/{id}/delete(id=${group.getId()})}">Delete</a>
</div>

</body>
</html>