<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar::header"/>

<body>
<div th:replace="navbar::menu"></div>

<div class="p-5">
  <table class="table">
    <tr>
      <td>ID</td>
      <td th:text="${teacher.getId()}">value</td>
    </tr>
    <tr>
      <td>Name</td>
      <td th:text="${teacher.getName()}">value</td>
    </tr>
    <tr>
      <td>Surname</td>
      <td th:text="${teacher.getSurname()}">value</td>
    </tr>
    <tr>
      <td>Email</td>
      <td th:text="${teacher.getEmail()}">value</td>
    </tr>
  </table>
</div>

<div class="p-1">
  <a class="btn btn-outline-dark" th:href="@{/teachers/{id}/edit(id=${teacher.getId()})}">Edit</a>
  <a class="btn btn-outline-dark" th:href="@{/teachers/{id}/delete(id=${teacher.getId()})}">Delete</a>
</div>

</body>
</html>