<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="navbar::header"/>

<body>
<div th:replace="navbar::menu"></div>

<div class="p-5" >
  <table class="table" >
    <tr>
      <td>ID</td>
      <td th:text="${student.getId()}">value</td>
    </tr>
    <tr>
      <td>Group</td>
      <td th:text="${student.getGroup().name}">value</td>
    </tr>
    <tr>
      <td>Name</td>
      <td th:text="${student.getName()}">value</td>
    </tr>
    <tr>
      <td>Surname</td>
      <td th:text="${student.getSurname()}">value</td>
    </tr>
    <tr>
      <td>Sex</td>
      <td th:text="${student.getSex()}">value</td>
    </tr>
    <tr>
      <td>Age</td>
      <td th:text="${student.getAge()}">value</td>
    </tr>
    <tr>
      <td>Email</td>
      <td th:text="${student.getEmail()}">value</td>
    </tr>
  </table>
</div>

<div class="p-1">
  <a class="btn btn-outline-dark" th:href="@{/students/{id}/edit(id=${student.getId()})}">Edit</a>
  <a class="btn btn-outline-dark" th:href="@{/students/{id}/delete(id=${student.getId()})}">Delete</a>
</div>

</body>
</html>